body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    display: flex;
}
.first{
    background-image: url(images/demo-2.png);
    background-repeat: no-repeat;
    background-position-x:left;
    background-position-y:top;
    padding-top: 0px;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 130%;
}
.half-width h1{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.color{
    color: rgb(235, 65, 43);

}
.button{
    text-decoration: none;
    background-image: linear-gradient(crimson, rgb(219, 36, 30));
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.button2{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.second{
    background-image: url(images/demo-4.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: right;
    background-position-y: bottom;
}
